<form action="" method="post">
    <% user.wishlist.forEach( product=>{ %>
 
   <div> <%=product.productId.name %></div>
   <div> <%= product.productId.price %></div>
   
   <% }) %>
 
        
    <button id="btn" type="submit">Buy</button>
 
 </form>
 <script src="https://js.stripe.com/v3/"></script>
 <script>
 
     var stripe = Stripe('pk_test_sw4XbOyr1qolFxor4BgSHRt200tUnBVV7z');
     document.querySelector("#btn").addEventListener("click", ()=>{
         stripe.redirectToCheckout({
             sessionId: "<%=sessionId%>"
         })
     })
 </script>